<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">    
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" style="overflow: hidden;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/source/css/markdown.css" type="text/css" media="screen" charset="utf-8" />
    <title>Wiki</title>
</head>
<frameset cols="300,*" border="1" frameborder='1' bordercolor="#999999" framespacing="1">
    <frame src="/nav" title="Search" name="panel"/>
    <frame src="/index" name="docwin"/>
</frameset>
</html>