<!DOCTYPE html>
<html>
<head>
	<title>welcome to vkyvky !</title>
</head>
<body>
<h1>欢迎至此处</h1>
<p>如果你对文档内容有任何疑问，可以给我发邮件。<a href="mailto:jiyaping@shenzhenair.com">jiyaping@shenzhenair.com</a></p>
<p>系统对内容查看有权限控制的，可以给你开通合适权限。 :D</p>
</body>
</html>